@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--very-light-gray);
    font-family: 'Lexend Deca', sans-serif;
}

.container {
    width: 330px;
    height: 1328px;
    margin: 88px auto;
    border-radius: 10px;
    overflow: hidden;

}

.card {
    padding: 40px;
    width: 325px;
    height: 440px;
}

.sedans {
    background-color: var(--bright-orange);
}

img {
    margin-bottom: 30px;
}

h1 {
    margin-bottom: 20px;
    font-family: 'Big Shoulders Display', cursive;
    color: var(--very-light-gray);
    text-transform: uppercase;
    font-weight: 700;
}

p {
    color: var(--transparent-white);
    line-height: 1.6;
    margin-bottom: 60px;
}

button {
    width: 160px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--very-light-gray);
    border: 2px solid var(--very-light-gray);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: transparent;
    color: var(--very-light-gray);
    border: 2px solid var(--very-light-gray);
}

.btn-sedan {
    color: var(--bright-orange);
}

.btn-suv {
    color: var(--dark-cyan);
}

.btn-luxury {
    color: var(--very-dark-cyan);
}

.suvs {
    background-color: var(--dark-cyan);
}

.luxury {
    background-color: var(--very-dark-cyan);
}

@media (min-width: 944px) {
    .container {
        width: 920px;
        height: 500px;
        display: flex;
        justify-content: center;
        margin: 170px auto 128px;
    }

    .card {
        width: 307px;
        height: 500px;
    }

    button {
        margin-top: 40px;
    }
}

